<h1 style='color:Crimson' align='center'>Decision Tree Example</h1>

In [1]:
# Import necessary libraries
import pandas as pd  # pandas for data manipulation and analysis
import matplotlib.pyplot as plt  # matplotlib for data visualization
from sklearn.preprocessing import LabelEncoder  # LabelEncoder for converting categorical values to numerical values
from sklearn import tree  # scikit-learn's decision tree module for building and analyzing decision tree models
from sklearn.metrics import accuracy_score  #to # evaluate the model

In [2]:
# READ FROM CURRENT FILE
data = pd.read_csv ('train EX1.csv')

In [3]:
#Strip whitespace from column names.
data.columns = data.columns.str.strip()
data.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [4]:
#selecr columns 
data = data[['Pclass', 'Sex', 'Age', 'Fare', 'Survived']]

In [5]:
data.shape  #calculate rows and columns

(891, 5)

In [6]:
 # getting some statistical measures about the data
data.describe()

           Pclass         Age        Fare    Survived
count  891.000000  714.000000  891.000000  891.000000
mean     2.308642   29.699118   32.204208    0.383838
std      0.836071   14.526497   49.693429    0.486592
min      1.000000    0.420000    0.000000    0.000000
25%      2.000000   20.125000    7.910400    0.000000
50%      3.000000   28.000000   14.454200    0.000000
75%      3.000000   38.000000   31.000000    1.000000
max      3.000000   80.000000  512.329200    1.000000

In [7]:
#Check total No of missing values
data.isnull().sum()

Pclass        0
Sex           0
Age         177
Fare          0
Survived      0
dtype: int64

In [8]:
#refill missing values of Age with maen of Age 
data["Age"].fillna(data["Age"].mean(), inplace= True )
data.isnull().sum()

Pclass      0
Sex         0
Age         0
Fare        0
Survived    0
dtype: int64

In [9]:
#need all values as Numirical before model traning 
#we check in Dtype
#Age is not num value. w have to convert it
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Pclass    891 non-null    int64
 1   Sex       891 non-null    object
 2   Age       891 non-null    float64
 3   Fare      891 non-null    float64
 4   Survived  891 non-null    int64
dtypes: float64(2), int64(2), object(1)
memory usage: 34.9+ KB

In [10]:
#we cont to encode sex to num values
data.replace({'Sex':{'male':0, 'female':1}}, inplace = True )
data.head()

   Pclass  Sex   Age     Fare  Survived
0       3    0  22.0   7.2500         0
1       1    1  38.0  71.2833         1
2       3    1  26.0   7.9250         1
3       1    1  35.0  53.1000         1
4       3    0  35.0   8.0500         0

In [11]:
#divide Target and Features
X = data.drop(columns='Survived', axis=1)   #Features
Y = data['Survived']  #Target

In [12]:
#test split to test data and train data
from sklearn.model_selection import train_test_split
X_train, X_test, Y_train, Y_test = train_test_split(X,Y, test_size=0.2, random_state=2)
print(X.shape, X_train.shape, X_test.shape)

(891, 4) (712, 4) (179, 4)

In [13]:
#Model Traning
from sklearn import tree
model = tree.DecisionTreeClassifier()
model.fit(X_train,Y_train)

DecisionTreeClassifier()

In [14]:
#make predictio for test values through the trained model
Y_prediction = model.predict(X_test)

In [15]:
#Model Evaluation (1)
model.score(X_train, Y_train)

0.9845505617977528

In [16]:
#make predictio for train values through the trained model
X_train_prediction = model.predict(X_train)
#Model Evaluation (2)
training_data_accuracy = accuracy_score(Y_train, X_train_prediction)
print('Accuracy score of training data : ', training_data_accuracy)

Accuracy score of training data :  0.9845505617977528

In [17]:
model.score(X_test, Y_test)

0.7597765363128491